<!DOCTYPE html>
<html>
<head>
	<title>Student Registration</title>
</head>
<body>
		
            <font color="#194649">
		<h1>Student Registration Form</h1>
	</font>
	
	<br>
	<fieldset >
		<legend>Details</legend>
		<br>
		<label>First name:</label>
		<input type="name" name="FIRST NAME" placeholder="Enter your First name">
		<div>
		<br>
		<label>Last name:</label>
		<input type="name" name="LAST NAME" placeholder="Enter your Last name">
		</div>
		<div>
		<br>
		<label>Father name:</label>
		<input type="name" name="FATHER NAME" placeholder="Enter your Father name">
		</div>
		<div>
			<br>
		<label>Email.Id:</label>
		<input type="name" name="EMAIL ID" placeholder="Enter your mail id ">

		</div>
		<div>
			<br>
			<label>Contact Number      :</label>
			<input type="number" name="Contact  Number" placeholder="Enter your mobile number">
		</div>
		<div>
			<br>
			<label>Date of Birth       :</label>
			<input type="date" name=" Date of Birth">
		</div>
		<br>
		<label>Gender</label>
		<select>
			<option>Select</option>
			<option>Male</option>
			<option>Female</option>
			<option>Transgenders</option>
		</select>
		<div>
			<br>
		<label>Marital status</label>
		<select>
                  <option>select</option>
			<option>married</option>
			<option>unmarried</option>
		</select>
		</div>
	</fieldset>
	<br>
	<fieldset>
		<legend>QUALIFICATION</legend>
		<br>
		<b>QUALIFICATION</b>
		<br>
		<table border="2" width="100%" cellpadding="5" cellspacing="5">
			<tr>
				<th >NAME OF THE INSTITUTE</th>
				<th >BOARD</th>
				<th >GRADUATION</th>
				<th >PLACE</th>
				<th >PERCENTAGE/CGPA</th>
			</tr>
			<tr>
				<td>
					<input type="name" name="NAME OF INSTITUTE">
				</td>
				<td>
					<input type="name" name="BOARD">
				</td>
				<td>
					<input type="name" name="GRADUATION">
				</td>
				<td>
					<input type="name" name="PLACE">
				</td>
				<td>
					<input type="name" name="PERCENTAGE/CGPA">
				</td>
			</tr>
			<tr>
				<td>
					<input type="name" name="NAME OF INSTITUTE">
				</td>
				<td>
					<input type="name" name="BOARD">
				</td>
				<td>
					<input type="name" name="GRADUATION">
				</td>
				<td>
					<input type="name" name="PLACE">
				</td>
				<td>
					<input type="name" name="PERCENTAGE/CGPA">
				</td>
			</tr>
			<tr>
				<td>
					<input type="name" name="NAME OF INSTITUTE">
				</td>
				<td>
					<input type="name" name="BOARD">
				</td>
				<td>
					<input type="name" name="GRADUATION">
				</td>
				<td>
					<input type="name" name="PLACE">
				</td>
				<td>
					<input type="name" name="PERCENTAGE/CGPA">
				</td>
			</tr>
		</table>
	</fieldset>
	<br>
	<fieldset>
		<legend>Address</legend>
		<div>
		<br>
		<label>Door no :</label>
		<input type="number" name="Door no" placeholder="Enter Door no">
		</div>
		<div>
			<br>
		<label>Street Name :</label>
		<input type="name" name="Street Name" placeholder=" Enter Street name">
		</div>
            <div>
				<br>
			<label>Pincode</label>
			<input type="number" name="Pincode" placeholder="Enter Pincode">
		</div>
		<div>
			<br>
			<label>City:</label>
			<select>
				<option>select</option>
				<option>Vijayawada</option>
				<option>Bhimavaram</option>
				<option>Gannavaram/</option>
				<option>Machilipatnam</option>
				<option>Gudiwada</option>
			</select>
		</div>
			<div>
				<br>
			<label>District</label>
			<select>
				<option>select</option>
				<option>krishna</option>
				<option>East godavari</option>
				<option>west godavari</option>
			</select>
		</div>
	</fieldset>
	<div>
		<br>
		<fieldset>
                  <legend>Additional Info:</legend>
			<br>
			<label>Programming Skills :</label>
			<br>
			<br>
			<input type="checkbox" name="java">Java
			<br>
			<br>
			<input type="checkbox" name="sql">Sql
			<br>
			<br>
			<input type="checkbox" name="javascript">Javascript
			<div>
        </div>
		</fieldset>
		<br>
		<div>
			<br>
			<button >Submit</button>
		</div>
	</div>

</body>
</html>
